@font-face {
  font-family: 'Devonshire-Regular';
  src: url("../fonts/Devonshire-Regular.ttf");
}

@font-face {
  font-family: 'Heart-Warning';
  src: url("../fonts/Heart-Warming.otf");
}

@font-face {
  font-family: 'CroissantOne-Regular';
  src: url(../fonts/CroissantOne-Regular.ttf);
}

@font-face {
  font-family: 'DancingScript';
  src: url(../fonts/DancingScript.ttf);
}

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url(../fonts/KaushanScript-Regular.ttf);
}

@font-face {
  font-family: 'SweetyStrawberry';
  src: url(../fonts/SweetyStrawberry.ttf);
}

@font-face {
  font-family: 'Vinegar-Regular';
  src: url(../fonts/Vinegar-Regular.otf);
}

* {
  box-sizing: border-box;
}

@keyframes shake {
  0% {
    transform: translateX(5%);
    transform: rotate(5deg);
  }
  100% {
    transform: translateX(-5%);
    transform: rotate(-5deg);
  }
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.8) translateY(8px);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 110px;
  background-color: #579c87;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 4rem;
  letter-spacing: -6px;
  color: #fdcb46;
  text-decoration: none;
}

header h1 > a {
  font-family: 'Archivo', sans-serif;
  font-size: 4rem;
  letter-spacing: -6px;
  color: #fdcb46;
  text-decoration: none;
}

footer {
  height: 70px;
  width: 100vw;
  background-color: #579c87;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer a {
  font-family: 'Archivo', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #fdcb46;
  text-decoration: none;
  padding: 0 25px 0 25px;
}

.conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .conteneur {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
  }
}

@media screen and (min-width: 1024px) {
  .conteneur {
    width: 900px;
  }
}

.tesseract {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 305px;
  width: 220px;
  margin: 20px;
  background: #fcdfdb;
  box-shadow: 0px 0px 10px 3px #c2c0c0;
}

@media screen and (min-width: 1024px) {
  .tesseract {
    height: 366px;
    width: 264px;
  }
}

.tesseract__chic {
  background: #fff5fe;
}

.tesseract__chic a > p:nth-child(1) {
  background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'CroissantOne-Regular';
}

.tesseract__chic a > p:nth-child(2) {
  font-family: 'Vinegar-Regular';
  color: #c77412;
}

.tesseract__delice {
  background: #f9f9f9;
}

.tesseract__delice a > p:nth-child(1) {
  background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'DancingScript';
  font-size: 1.5em;
}

.tesseract__delice a > p:nth-child(2) {
  font-family: 'SweetyStrawberry';
  color: #0887fb;
}

.tesseract__palette {
  background: #fdfffd;
}

.tesseract__palette a > p:nth-child(1) {
  background: linear-gradient(135deg, #3e923a 0%, #beff7f 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'KaushanScript-Regular';
  font-size: 1.5em;
}

.tesseract__palette a > p:nth-child(2) {
  font-family: 'SweetyStrawberry';
  color: #72bf56;
}

.tesseract a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}

.tesseract a:hover {
  transform: scale(1.2);
  opacity: 0.6;
}

.tesseract a > p:nth-child(1) {
  margin: 0;
}

.tesseract a > p:nth-child(2) {
  font-size: 2em;
}

.tesseract a > .bloc-menu-note {
  font-size: 1.6em !important;
  font-family: 'Devonshire-Regular';
  color: #3d1319;
  margin-top: 0;
}

.tesseract a > .bloc-menu-note--modif {
  font-family: 'Heart-Warning';
  text-transform: uppercase;
  color: #3d1319;
  font-size: 2em;
  margin-top: 0;
}

.tesseract a > .fab {
  font-size: 3em;
  background: linear-gradient(to right, #f15d61, #f6916a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

section {
  display: block;
  margin: 1rem 3% 8rem 3%;
}

.menu-note {
  background: #fcdfdb;
  text-align: center;
  padding: 50px 15px 50px 15px;
  margin: auto;
  max-width: 700px;
}

.menu-note h3 {
  white-space: nowrap;
  width: 235px;
}

.menu-note .prix {
  font-weight: bold;
}

.menu-note .Line {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.menu-note .Line img {
  min-width: 10%;
}

@media screen and (min-width: 768px) {
  .menu-note {
    box-shadow: 0px 0px 10px 3px #c2c0c0;
  }
  .menu-note .plat {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 50px;
  }
  .menu-note .prix {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin: -20px 50px 0;
  }
}

.menu-note h3,
.menu-note p {
  color: #3d1319;
  font-family: 'Heart-Warning';
}

.menu-note h3 span,
.menu-note p span {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.menu-note h3 span:hover,
.menu-note p span:hover {
  background-size: 100% 100%;
}

.menu-note h1 {
  font-family: 'Devonshire-regular';
  font-size: 2.5em;
  margin-top: 5px;
}

.menu-note h2 {
  font-family: 'Devonshire-regular';
  font-size: 2em;
  margin-top: 50px;
}

.menu-note .i-note {
  background: linear-gradient(to right, #f15d61, #f6916a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  margin: 50px 0 0;
}

.menu-note .fab {
  background: linear-gradient(to right, #f15d61, #f6916a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-right: 10px;
}

.menu-note .dessert p {
  padding-bottom: 20px;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soon__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 265px;
  background-color: #579c87;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.6s;
  margin-top: 50px;
}

.soon__btn:hover {
  opacity: 0.8;
}

.soon__btn p,
.soon__btn a {
  text-decoration: none;
  color: #fdcb46;
  font-family: 'Archivo', sans-serif;
  font-size: 1.3rem;
}

.soon__btn span {
  width: 6px;
  height: 6px;
  margin: 0 2px 4px;
  border-radius: 50%;
  background-color: #fdcb46;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.soon__btn span:nth-child(2) {
  animation-delay: 0.4s;
}

.soon__btn span:nth-child(3) {
  animation-delay: 0.8s;
}

.vibreur:hover {
  animation: shake 60ms ease-in-out;
  animation-iteration-count: 20;
}

.mentions {
  max-width: 900px;
  background: #fcdfdb;
  padding: 20px 15px 30px 15px;
  margin: auto;
  font-family: 'Archivo';
  box-shadow: 0px 0px 10px 3px #c2c0c0;
}

.mentions h2,
.mentions h3 {
  margin: 30px 0 0;
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, black 0%, black 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.mentions h2:hover,
.mentions h3:hover {
  background-size: 100% 100%;
}

.mentions a {
  text-decoration: none;
  color: #579c87;
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #579c87 0%, #579c87 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.mentions a:hover {
  background-size: 100% 100%;
}

section {
  display: block;
  margin: 1rem 3% 8rem 3%;
}

.menu-chic {
  background: #fff5fe;
  text-align: center;
  padding: 50px 15px 50px 15px;
  margin: auto;
  max-width: 700px;
}

.menu-chic h3 {
  white-space: nowrap;
  width: 235px;
}

.menu-chic .prix {
  font-weight: bold;
}

.menu-chic .Line {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.menu-chic .Line img {
  min-width: 10%;
}

@media screen and (min-width: 768px) {
  .menu-chic {
    box-shadow: 0px 0px 10px 3px #c2c0c0;
  }
  .menu-chic .plat {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 50px;
  }
  .menu-chic .prix {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin: -20px 50px 0;
  }
}

.menu-chic h2 {
  background: linear-gradient(135deg, #e38a12 0%, #9056ff 71%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'CroissantOne-Regular';
  font-size: 1.8rem;
  margin: 50px 0 50px;
}

.menu-chic p,
.menu-chic h3 {
  font-family: 'Vinegar-Regular';
}

.menu-chic__titre-entree h3,
.menu-chic__titre-entree p {
  color: #c77412;
}

.menu-chic__titre-entree h3 span,
.menu-chic__titre-entree p span {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #c77412 0%, #c77412 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.menu-chic__titre-entree h3 span:hover,
.menu-chic__titre-entree p span:hover {
  background-size: 100% 100%;
}

.menu-chic__titre-plat h3,
.menu-chic__titre-plat p {
  color: #a56899;
}

.menu-chic__titre-plat h3 span,
.menu-chic__titre-plat p span {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #a56899 0%, #a56899 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.menu-chic__titre-plat h3 span:hover,
.menu-chic__titre-plat p span:hover {
  background-size: 100% 100%;
}

.menu-chic__titre-dessert h3,
.menu-chic__titre-dessert p {
  color: #6e4ccc;
}

.menu-chic__titre-dessert h3 span,
.menu-chic__titre-dessert p span {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.menu-chic__titre-dessert h3 span:hover,
.menu-chic__titre-dessert p span:hover {
  background-size: 100% 100%;
}

.menu-chic__titre-dessert p {
  padding-bottom: 20px;
}

.menu-chic__titre-dessert > p:nth-of-type(3) {
  margin-bottom: 30px;
}

section {
  display: block;
  margin: 1rem 3% 8rem 3%;
}

.menu-delice {
  background: #f9f9f9;
  text-align: center;
  padding: 50px 15px 50px 15px;
  margin: auto;
  max-width: 700px;
}

.menu-delice h3 {
  white-space: nowrap;
  width: 235px;
}

.menu-delice .prix {
  font-weight: bold;
}

.menu-delice .Line {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.menu-delice .Line img {
  min-width: 10%;
}

@media screen and (min-width: 768px) {
  .menu-delice {
    box-shadow: 0px 0px 10px 3px #c2c0c0;
  }
  .menu-delice .plat {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 50px;
  }
  .menu-delice .prix {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin: -30px 50px 0;
  }
}

.menu-delice h2 {
  background: linear-gradient(135deg, #0229dd 0%, #0e8cfb 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'DancingScript';
  font-size: 3.5rem;
  margin: 50px 0 50px;
}

.menu-delice h3,
.menu-delice p {
  color: black;
  font-family: 'SweetyStrawberry';
  letter-spacing: 1px;
}

.menu-delice h3 span,
.menu-delice p span {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, black 0%, black 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.menu-delice h3 span:hover,
.menu-delice p span:hover {
  background-size: 100% 100%;
}

section {
  display: block;
  margin: 1rem 3% 8rem 3%;
}

.menu-palette {
  background: #fdfffd;
  text-align: center;
  padding: 50px 15px 50px 15px;
  margin: auto;
  max-width: 700px;
}

.menu-palette h3 {
  white-space: nowrap;
  width: 235px;
}

.menu-palette .prix {
  font-weight: bold;
}

.menu-palette .Line {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.menu-palette .Line img {
  min-width: 10%;
}

@media screen and (min-width: 768px) {
  .menu-palette {
    box-shadow: 0px 0px 10px 3px #c2c0c0;
  }
  .menu-palette .plat {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 50px;
  }
  .menu-palette .prix {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin: -30px 50px 0;
  }
}

.menu-palette h2 {
  background: linear-gradient(135deg, #3e923a 0%, #beff7f 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'KaushanScript-Regular';
  font-size: 3.5rem;
  margin: 50px 0 50px;
}

.menu-palette h3,
.menu-palette p {
  color: black;
  font-family: 'SweetyStrawberry';
  letter-spacing: 1px;
}

.menu-palette h3 span,
.menu-palette p span {
  display: inline-block;
  padding-bottom: 3px;
  background: linear-gradient(to top, black 0%, black 2px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.6s ease-in-out;
}

.menu-palette h3 span:hover,
.menu-palette p span:hover {
  background-size: 100% 100%;
}

.landscape {
  display: none;
}
/*# sourceMappingURL=style.css.map */