$color-primary: #579c87;
$text-color: #fdcb46;
$color-box-shadow: #c2c0c0;
//-----------------------menu note
$color-note:#fcdfdb;
$color-text-note: #3d1319;
$leftcolor: #f15d61;
$rightcolor: #f6916a;
//-----------------------chic
$color-chic:#fff5fe;
$chic-left: #e38a12;
$chic-right: #9056ff;
$menu-chic-colortext: #c77412;
$menu-chic-colortext2: #a56899;
$menu-chic-colortext3: #6e4ccc;
//-----------------------delice
$color-black: black;
$color-delice: #f9f9f9;
$delice-left: #0229dd;
$delice-right: #0e8cfb;
$menu-delice-colortext: #0887fb;
//-----------------------palette
$color-palette:#fdfffd;
$palette-left: #3e923a;
$palette-right: #beff7f;
$menu-palette-colortext: #72bf56;
//-----------------------Map-get
$color-menu: (chic: $color-chic, delice: $color-delice, palette: $color-palette);
$margin-prix: (marg-chic: -36px, marg-note: -20px, marg-del-pal: -30px);
$margin-plat: (marg-C: 0, marg:0);
//-----------------MIXIN
//-----
//---------------------dégradés de texte
@mixin degrade-note {
    background: linear-gradient(to right, $leftcolor, $rightcolor);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin degrade-chic {
    background: linear-gradient(135deg, $chic-left 0%, $chic-right 71%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin degrade-delice {
    background: linear-gradient(135deg, $delice-left 0%, $delice-right 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin degrade-palette {
    background: linear-gradient(135deg, $palette-left 0%, $palette-right 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

//------------------Mixin générales
@mixin min-reset {
    height: 100%;
    margin: 0;
    padding: 0;
}

@mixin display-fullcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin section {
    display: block;
    margin: 1rem 3% 8rem 3%;
}

//-----------------Mixin header--footer
@mixin header {
    height: 110px;
    background-color: $color-primary;
    @include display-fullcenter;
}

@mixin h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 4rem;
    letter-spacing: -6px;
    color: $text-color;
    text-decoration: none;
}

@mixin footer {
    height: 70px;
    width: 100vw;
    background-color: $color-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

@mixin footer-a {
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: $text-color;
    text-decoration: none;
    padding: 0 25px 0 25px;
}

//-----------------------Mixin cadres menus
@mixin boxshadow {
    box-shadow: 0px 0px 10px 3px $color-box-shadow;
}

@mixin tesseract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 305px;
    width: 220px;
    margin: 20px;
    background: $color-note;
    @include boxshadow;
    @media screen and(min-width: 1024px) {
        height: 366px;
        width: 264px;
    }
}

@mixin menu ($colour-bgd: #eee, $marginPl: map-get($margin-plat, marg-N), $margin: map-get($margin-prix, marg-note)) {
    background: $colour-bgd;
    text-align: center;
    padding: 50px 15px 50px 15px;
    margin: auto;
    max-width: 700px;
    h3 {
        white-space: nowrap;
        width: 235px;
    }
    .prix {
        font-weight: bold;
    }
    .Line {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        img {
            min-width: 10%;
        }
    }
    @media screen and (min-width: 768px) {
        @include boxshadow;
        .plat {
            display: flex;
            justify-content: flex-start;
            margin: 0 0 0 50px;
        }
        .prix {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 20px;
            margin: $margin 50px 0;
        }
    }
}