section {
    @include section;
}

.menu-note {
    @include menu ($color-note, map-get($margin-prix, marg-note));
    h3,
    p {
        color: $color-text-note;
        font-family: 'Heart-Warning';
        span {
            @include Under($color-text-note);
        }
    }
    h1 {
        font-family: 'Devonshire-regular';
        font-size: 2.5em;
        margin-top: 5px;
    }
    h2 {
        font-family: 'Devonshire-regular';
        font-size: 2em;
        margin-top: 50px;
    }
    .i-note {
        @include degrade-note;
        font-size: 4rem;
        margin: 50px 0 0;
    }
    .fab {
        @include degrade-note;
        margin-right: 10px;
    }
    .dessert p {
        padding-bottom: 20px;
    }
}