section {
    @include section;
}

.menu-chic {
    @include menu ($color-chic, map-get($margin-prix, marg-chic));
    h2 {
        @include degrade-chic;
        font-family: 'CroissantOne-Regular';
        font-size: 1.8rem;
        margin: 50px 0 50px;
    }
    p,
    h3 {
        font-family: 'Vinegar-Regular';
    }
    &__titre-entree {
        h3,
        p {
            color: $menu-chic-colortext;
            span {
                @include Under ($menu-chic-colortext);
            }
        }
    }
    &__titre-plat {
        h3,
        p {
            color: $menu-chic-colortext2;
            span {
                @include Under ($menu-chic-colortext2);
            }
        }
    }
    &__titre-dessert {
        h3,
        p {
            color: $menu-chic-colortext3;
            span {
                @include Under ($menu-chic-colortext3);
            }
        }
        p {
            padding-bottom: 20px;
        }
        >p:nth-of-type(3) {
            margin-bottom: 30px;
        }
    }
}