.mentions {
    max-width: 900px;
    background: $color-note;
    padding: 20px 15px 30px 15px;
    margin: auto;
    font-family: 'Archivo';
    @include boxshadow;
    h2,
    h3 {
        margin: 30px 0 0;
        @include Under ($color-black);
    }
    a {
        text-decoration: none;
        color: $color-primary;
        @include Under ($color-primary)
    }
}