.soon {
    @include display-fullcenter;
    &__btn {
        @include display-fullcenter;
        height: 45px;
        width: 265px;
        background-color: $color-primary;
        border-radius: 10px;
        opacity: 1;
        transition: opacity 0.6s;
        margin-top: 50px;
        &:hover {
            opacity: 0.8;
        }
        p,
        a {
            text-decoration: none;
            color: $text-color;
            font-family: 'Archivo', sans-serif;
            font-size: 1.3rem;
        }
        span {
            @include Dots
        }
    }
}

.vibreur:hover {
    @include shake;
}