@font-face {
    font-family: 'Devonshire-Regular';
    src: url('../fonts/Devonshire-Regular.ttf');
}

@font-face {
    font-family: 'Heart-Warning';
    src: url('../fonts/Heart-Warming.otf');
}

@font-face {
    font-family: 'CroissantOne-Regular';
    src: url(../fonts/CroissantOne-Regular.ttf);
}

@font-face {
    font-family: 'DancingScript';
    src: url(../fonts/DancingScript.ttf);
}

@font-face {
    font-family: 'KaushanScript-Regular';
    src: url(../fonts/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'SweetyStrawberry';
    src: url(../fonts/SweetyStrawberry.ttf)
}

@font-face {
    font-family: 'Vinegar-Regular';
    src: url(../fonts/Vinegar-Regular.otf)
}

* {
    box-sizing: border-box;
}