.conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    @media screen and (min-width: 768px) {
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: center;
        width: 650px;
    }
    @media screen and (min-width: 1024px) {
        width: 900px;
    }
}

.tesseract {
    @include tesseract;
    &__chic {
        background: map-get($color-menu, chic);
        a {
            >p:nth-child(1) {
                @include degrade-chic;
                font-family: 'CroissantOne-Regular';
            }
            >p:nth-child(2) {
                font-family: 'Vinegar-Regular';
                color: $menu-chic-colortext;
            }
        }
    }
    &__delice {
        background: map-get($color-menu, delice);
        a {
            >p:nth-child(1) {
                @include degrade-delice;
                font-family: 'DancingScript';
                font-size: 1.5em;
            }
            >p:nth-child(2) {
                font-family: 'SweetyStrawberry';
                color: $menu-delice-colortext;
            }
        }
    }
    &__palette {
        background: map-get($color-menu, palette);
        a {
            >p:nth-child(1) {
                @include degrade-palette;
                font-family: 'KaushanScript-Regular';
                font-size: 1.5em;
            }
            >p:nth-child(2) {
                font-family: 'SweetyStrawberry';
                color: $menu-palette-colortext;
            }
        }
    }
    a {
        @include display-fullcenter;
        flex-direction: column;
        text-decoration: none;
        @include trans-zoom;
        >p:nth-child(1) {
            margin: 0;
        }
        >p:nth-child(2) {
            font-size: 2em;
        }
        >.bloc-menu-note {
            font-size: 1.6em !important;
            font-family: 'Devonshire-Regular';
            color: $color-text-note;
            margin-top: 0;
            &--modif {
                font-family: 'Heart-Warning';
                text-transform: uppercase;
                color: $color-text-note;
                font-size: 2em;
                margin-top: 0;
            }
        }
        >.fab {
            font-size: 3em;
            @include degrade-note;
        }
    }
}